OneStepSDK_SampleApp.xcodeproj/project.xcworkspace/xcuserdata/davidhavkin.xcuserdatad/UserInterfaceState.xcuserstate
OneStepSDK_SampleApp.xcodeproj/xcuserdata/davidhavkin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
